body {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    margin: 0;
    overflow: hidden;
}

.background {
    /* position: relative; */
    background-image: url('photos/BackgroundwithStripes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    /* border: 10px solid pink; */
}

.content {
    position: relative;
    z-index: 500;
    /* border: 2px solid orange; */
}

.hidden {
    display: none;
}

